<div class="container">
  <div class="row single-page">
    <div class="col-sm-12 text-center">
      <h1>Oups</h1>
      <p>An error as occurred during the registration process. Please go back to the next page and make sure you entered a proper email address, a username and a password of minimum 4 letters or digits.</p>
    </div>
  </div>
</div>