Welcome to LoudStory, the place to find the magic of your brand.

<p>Hi <%= @user.name %>, Very happy to have you onboard. You're now in full control of your story: explore, iterate, share and enjoy!

In doubt, ask for my help: fleur@loudstory.com

Kind regards,
Fleur
Founder of LoudStory</p>
