WELCOME TO LOUDSTORY, the place to find the magic of your brand.

<p>Hi <%= @user.name %>, Very happy to have you onboard.</p>

<p>You're now in full control of your story: explore, iterate, share and enjoy!</p>

<p>In doubt, ask for my help: fleur@loudstory.com</p>

<p>Kind regards,</p>
<p>Fleur</p>
<p>Founder of LoudStory</p>
