<% content_for :title do %>
  LoudStory | How it works
<% end %>

<div class="container center-block">
  <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
    <ol class="progtrckr" data-progtrckr-steps="1">
      <li class="progtrckr-done"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
      <li class="progtrckr-done">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
      <li class="progtrckr-done">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
    </ol>
  </div>
</div>


<div class="container center-block" id="onboarding-page">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="page-header" id="header-onboarding">
        <%= flash_messages %>
        <h3>How it works</h3>
        <br>
        <br>
        <h5>1- Learn the Storyteller Mindset in the Classroom</h5>
        <h5>2- Whenever you're ready, schedule a 20-min free call with our team</h5>
        <h5>3- Build your story</h5>
        <h5>4- Validate it with a professional</h5>
        <div class="form-group header-onboarding-form">
          <%= link_to "Start", tracks_path, class:"btn btn-sm btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
