<div class="container center-block">
  <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
    <ol class="progtrckr" data-progtrckr-steps="1">
      <li class="progtrckr-done"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
      <li class="progtrckr-done">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
      <li class="progtrckr-done">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
    </ol>
  </div>
</div>


<div class="container center-block" id="onboarding-page">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="page-header" id="header-onboarding">
        <h3>How it works</h3>
        <h5>You're about to access the first 2 exercices of the <b>North Star story</b>. This tool will help you lay the foundation of your storytelling and later serve as the guiding principles of your communication tools.</h5>
        <h5>First, we recommend you read as much of the content we provide in the <b>Academy section</b> as possible, to fully embrace the potential of each exercise.</h5>
        <h5>If you decide you want to experience the full journey and have a mentor give you a <b>2-hour feedback</b>, just click on the Upgrade button.</h5>
        <p>Confidentialy: we are conscious that any business or personal information that you provide to us is ultra-sensitive and we promise to keep it confidential.</p>
        <h3>Ready?</h3>
      </div>
      <div class="form-group">
        <%= link_to "Start", tracks_path, class:"btn btn-sm btn-danger" %>
      </div>
    </div>
  </div>
</div>
