<div class="container center-block">
  <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
    <ol class="progtrckr" data-progtrckr-steps="1">
      <li class="progtrckr-done"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
      <li class="progtrckr-done">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
      <li class="progtrckr-done">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
    </ol>
  </div>
</div>


<div class="container center-block" id="onboarding-page">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="page-header" id="header-onboarding">
        <h3>How it works</h3>
        <h5>First the <b>North Star story</b> tool will help you lay the foundation of your storytelling.</h5>
        <h5>Whenever you need a mentor for a <b>2-hour feedback</b>, just click on the Upgrade button.</h5>
      </div>
      <div class="form-group">
        <%= link_to "Start", posts_path, class:"btn btn-sm btn-danger" %>
      </div>
    </div>
  </div>
</div>
