<div class="container center-block single-page">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="page-header" id="header-onboarding">
        <h2>How it works</h2>
        <h5>Start by creating your <b>North Star story</b>: it will set up the guiding principles of your communication.</h5>
        <h5>When this first step is completed, click on the "Ask Feedback" button to get in touch with one of our professionnal storytellers.</h5>
        <h5>You can use the <b>Stories</b> toolbox to tell your Brand Story in a consistent manner, every time you need.</h5>
        <p>Confidentialy: we are conscious that any business or personal information that you provide to us is ultra-sensitive and we promise to keep it confidential.</p>
        <h3>Ready?</h3>
      </div>
      <div class="form-group">
        <%= link_to "Start", tracks_path, class:"btn btn-sm btn-danger" %>
      </div>
    </div>
  </div>
</div>
