<div class="container center-block single-page">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="page-header" id="header-onboarding">
        <h2>How it works</h2>
        <h5>Start by defining your <b>North Star story</b>: it will set up the guiding principles of your communication and make your voice clearer and more powerful.</h5>
        <h5>A well-defined brand story helps you be <b>more confident and strategically aligned</b> with your mission, your brand personality and the audience you're talking to.</h5>
        <h5>When this first step is completed, you can use the <b>Story Toolbox</b> to tell your Brand Story in a consistent manner, every time you need.</h5>
        <h3>Ready?</h3>
      </div>
      <div class="form-group">
        <%= link_to "Start", tracks_path, class:"btn btn-sm btn-danger" %>
      </div>
    </div>
  </div>
</div>
