<div class="container">
  <div class="row single-page">

    <div class="row">
      <div class="col-sm-12 text-center text-title-post">
        <h2><%= @post.title %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-1">
       <div class="panel panel-default panel-default panel-sd panel-course-detail">
          <div class="panel-body lessons-menu bhoechie-tab-menu ">
            <div class="list-group">
              <% @post.lessons.each do |lesson| %>
                <%= link_to lesson.title, [lesson.post, lesson], class: "list-group-item" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="panel panel-default panel-default panel-sd panel-course-detail">
          <div class="panel-body ">
            <div class="lesson-content">
              <div class="text-center" style="background-color:#0F0F5B; width:100%;padding:20px;">
                <div><%= raw @lesson.content.html_safe %></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

