
$btn-primary-color: #0F0F5B;
$link-hover-decoration: none;


@import "bootstrap";
@import "active_admin/editor/wysiwyg";
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "normalize";
@import "navbar";
@import "sessions";
@import "signin";
@import "home";
@import "footer";
@import "team";
@import "tracks";
@import "dashboard";
@import "comments";
@import "posts";

// @import url("http://fonts.googleapis.com/css?family=Raleway:700,400,300|Abril+Fatface|Open+Sans:400italic");


#wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  // position:relative;
}

.wrapper-logout{
  // margin-left: -15px;
  // margin-right: -15px;
  // margin-top: 15px;
  // padding: 100px;
  background-image: image-url('fans-blue-cut.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.6;
  height: 650px;
}

.wrapper-login{
  height: 100%;
  min-height: 500px;
  // margin-top: 83px;
}

.double-page{
  width: 100%;
  min-height: 30em;
  height: 100%;
  margin-top: 84px;
}

.single-page{
  width: 100%;
  min-height: 30em;
  height: 100%;
  margin-top: 84px;
}

.page-header {
   margin: 20px 0 20px;
   padding-bottom: 29px;
  }

body{
  font-family: 'Raleway', sans-serif;
  color: #0F0F5B;
  font-weight: 300;
  margin: 0 auto;
  font-size: 16px;
  padding: 0;
  height: 100%;
  // padding-top: 80px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 48px;
  color: #0F0F5B;
  letter-spacing: 2px;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #383635;
  letter-spacing: 2px;
}

h3 {
  font-size: 22px;
}

h4{
  font-size: 20px;
  line-height: 26px;
}

p{
  font-size: 25px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.size-30{
  font-size: 30px;
}

.small-text{
  font-size: 18px;
  color: #404040;
}

.italic{
  font-style: italic;
}

.tiny-text{
  font-size: 14px;
  color: #404040;
}

.notice {
  margin-top: 35px;
}

.color-red{
  color: #FF0000;
}

.space-line{
  border-bottom: 2px solid #ddd;
}

.spacer-50{
  margin-top: 50px;
}

.spacer-30{
  margin-top: 30px;
}

.spacer-20em{
  height: 20em;
}

.spacer-10em{
  height: 10em;
}

.spacer-4em{
  height: 4em;
}

.spacer-2em{
  height: 2em;
}

.spacer-1em{
  height: 1em;
}

.padding-left-20{
  padding-left: 20px;
}

.paper{
  background-image: image-url('paper.png');
}








