
#identity h3{
  font-family: 'Abril Fatface', sans-serif;
  letter-spacing: 3px;
  font-size: 30px;
}

#storyboard-headtitle {
  letter-spacing: 7px;
}

.storyboard-subtitle h2 {
  letter-spacing: 4px;
  font-size: 28px;
  border-bottom: 1px solid #eeeee;
}

.storyboard-subtitle {
  border-bottom: 1px solid #eeeee;
}

#version{
  font-size: 17px;
  font-style: italic;
}

.progress-bar-info {
  background-color: #0F0F5B;
}

.progress {
  height: 13px;
}