.wrapper{
  margin-top: 100px;
}

#homebanner{
  margin-top: 220px;
}

.text-title{
  margin-bottom: 120px;
  margin-top: -22px;
}

.text-title h1{
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
  font-size: 44px;
  text-align: center;
}

.text-title h2{
  color: #FF0000;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 4px;
  font-size: 24px;
  text-align: left;
  margin-left: 180px;
}

.transbox {
  width: 691px;
  height: 27px;
  background-color: rgba(30, 36, 85, 0.4);
  color: white;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
  margin-top: -13px;
}

.fa-chevron-down{
  font-size: 37px;
}

.suit-target h2{
  font-size: 20px;
}

.suit-quote-1{
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeee;
}

.suit-quote-2{
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeee;
}

.suit-quote-1 h2,
.suit-quote-2 h2{
  font-size: 17px;
  font-style: italic;
  color: #0F0F5B;
  line-height: 24px;
}

.suit-quote-1 p,
.suit-quote-2 p {
  font-size: 16px;
  color: #0F0F5B;
}

.quote-img{
  border-radius: 50%;
  width: 55px;
}

.suit-mission {
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 36px;
}

.suit-mission h2 {
  font-family: 'Oswald';
  font-size: 33px;
  font-weight: 700;
  color: #0F0F5B;
  letter-spacing: 3px;
  margin-bottom: 35px;
}

// .wagon{
//   background-color: #F0F1F5;
//   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
// }

.line-title h3 {
  border-bottom: 1px solid #4e4e4e;
  width: 100%;
  font-family: 'Oswald';
  font-size: 33px;
  font-weight: 700;
  color: #0F0F5B;
  letter-spacing: 3px;
  margin-bottom: 55px;
  height: 20px;
  z-index: 2;

}

.zindex {
  z-index: 1;
  background-color: white;
  padding-right: 15px;
  padding-left: 15px;
}

.suit-mission p{
  font-size: 17px;
  color: #0F0F5B;
  line-height: 24px;
}

.suit-features{
  margin-top: 20px;
  margin-bottom: 20px;
}

.suit-features h2 {
  font-size: 26px;
  font-weight: bold;
  color: #0F0F5B;
}

.suit-testimonials {
  margin-bottom: 30px;
}

.suit-testimonials h2 {
  font-size: 23px;
  font-weight: bold;
  color: #0F0F5B;
  margin-top: 0px;
}

.suit-features p,
.suit-testimonials p{
  font-size: 15px;
  line-height: 22px;
  color: #666666;
}

.features-img {
  width: 85px;
  text-align: center;
}

.features-img-small{
  width: 50px;
}

.testimonials-img {
  width: 100%;
}

.suit-contact p {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.suit-pricing {
  margin-bottom: 25px;
  margin-top: 35px;
}

#suit-signin-form {
  margin-top: 50px;
  margin-bottom: 30px;
}

#suit-signin-form h1 {
  font-family: 'Oswald';
  font-size: 25px;
  color: red;
}

.pricing-page{
  width: 100%;
  min-height: 100%;
  margin-top: 84px;
}

#pricing-text h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: -10px;
  margin-bottom: 12px;
}

#pricing-text h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FF0000;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 23px;
}

#pricing-text h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #666666;
  line-height: 23px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

#pricing-text h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #666666;
  line-height: 23px;
  padding-right: 20px;
  padding-left: 20px;
}

#pricing-text p{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #0F0F5B;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 10px;
  line-height: 19px;
}

#pricing-text h4{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #0F0F5B;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 10px;
}

.stripe-button-el span{
  background-color: #FF0000;
}

#pricing-tracks-title p {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #0F0F5B;
  padding-right: 20px;
  padding-left: 20px;
}

#team-pricing-text h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 27px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 12px;
}

#team-pricing-text h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #0F0F5B;
  line-height: 23px;
  padding-right: 20px;
  padding-left: 20px;
}

#team-pricing-text h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #666666;
  line-height: 23px;
  padding-right: 20px;
  padding-left: 20px;
}

#team-pricing-text p {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #0F0F5B;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: -8px;
}

#pricing-tracks-title {
  margin-top: 73px;
}

#pricing-tracks-title h1 {
  font-family: 'Oswald';
  color: red;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

#pricing-tracks-list h2{
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #0F0F5B;
  line-height: 23px;
  padding-right: 20px;
  padding-left: 20px;
}

#pricing-tracks-list p {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #666666;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 18px;
}

.cursor-pricing{
  cursor: help;
}


.btn-blue-pricing{
  color: white;
  font-family: 'Oswald';
  font-weight: 00;
  border-color: #0F0F5B;
  border-style: solid;
  border-width: 2px;
  border-radius: 28px;
  letter-spacing: 3px;
  background-color: #0F0F5B;
  font-size: 22px;
  padding: 10px 23px 10px 23px;
}

.btn-blue-pricing.btn:hover, .btn-blue-pricing.btn:focus{
  border-color: #0F0F6D;
  border-bottom-color: #0F0F76;
  background-color: transparent;
  color: #0F0F5B;
}

#swap {
    vertical-align: top;
    width: 0;
    height: 3em;
}

#swap > span {
    position: absolute;
    color: white;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
}

.animated {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}


