
$btn-danger-color: #FF0000;
$btn-primary-color: #43AAC9;
$btn-primary-border: none;

.header{
  margin-top: 100px;
}

.subheader {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  color: #0F0F5B;
  border-bottom: 1px solid #eeeee;
}


.page-body {
  line-height: 25px;
}

.page-btn {
  margin-top: 25px;
}


#exercise-form {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  letter-spacing: 3px;
}

#exercise-form p {
  font-size: 14px;
  line-height: 21px;
}

.form-text-answer{
  border-color: #BDBDBD;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 18px;
  color: #404040;
  // background-image: image-url('paper.png');
}

.form-comment{
  border-color: #BDBDBD;
  font-size: 17px;
  font-weight: 300;
  color: #404040;
  height: 50px;
  width: 80%;
}

.nav-deco {
  margin-top: 77px;
  margin-bottom: 20px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  color: white;
  letter-spacing: 1px;
  background-color: #FF0000;
}

.nav-pills > li > a{
  border-radius: 10px;
  color: #FF0000;
  letter-spacing: 1px;
}

.nav-pills > li > a:hover{
  background-color: #FF0000;
  color: white;
}

.note{
  font-size: 13px;
  color: #383635;
  font-style: italic;
}

.panel{
  background-image: image-url('paper.png');
  margin-bottom: -12px;
}

#comment-user{
  color: #404040;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 0px;
}

#original-question p{
  font-size: 18px;
  font-weight: 700;
}

#original-content p{
  font-size: 20px;
}

.btn-blue{
  // background-color: $btn-primary-color;
  color: #0F0F5B;
  font-family: 'Abril Fatface', cursive;
  font-size: 15px;
  font-weight: 400;
  border-color: #0F0F5B;
  border-style: solid;
  border-width: 2px;
  border-radius: 28px;
  padding: 6px 19px 6px 20px;
  letter-spacing: 3px;
  background-color: transparent;
}

.btn-blue.btn:hover, .btn-blue.btn:focus{
  border-color: #0F0F6D;
  border-bottom-color: #0F0F76;
  background-color: #0F0F5B;
  color: white;
}

.btn-blue-small{
  // background-color: $btn-primary-color;
  color: #0F0F5B;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  border-color: #0F0F5B;
  border-style: solid;
  border-width: 2px;
  border-radius: 28px;
  padding: 3px 8px 3px 8px;
  background-color: transparent;
}

.btn-blue-small.btn:hover, .btn-blue-small.btn:focus{
  border-color: #0F0F6D;
  border-bottom-color: #0F0F76;
  background-color: #0F0F5B;
  color: white;
}

.btn-white{
  background-color: white;
  color: #7A7A7A;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 10px;
  font-weight: 300;
  border-color: #8C8C8C;
  border-radius: 28px;
  padding: 6px 9px 6px 10px;
  letter-spacing: 1px;
}

.btn-white.btn:hover, .btn-white.btn:focus{
  border-color: #FF0000;
  border-bottom-color: #F5F5F5;
  background-color: #FF0000;
  color: white;
}

.btn-grey{
  background-color: #696969;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 10px;
  border-color: #8C8C8C;
  border-radius: 28px;
  padding: 6px 9px 6px 10px;
  letter-spacing: 1px;
  margin-right: 43px;
}

.btn-grey.btn:hover, .btn-grey.btn:focus{
  border-color: #828282;
  border-bottom-color: #696969;
  background-color: #828282;
  color: white;
}

.btn-danger{
  background-color: $btn-danger-color;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-weight: 300;
  border-radius: 28px;
  padding: 6px 19px 6px 20px;
  letter-spacing: 2px;
}


.btn-danger.btn:hover, .btn-danger.btn:focus{
  border-color: #FF4B4A;
  border-bottom-color: #fa0008;
  background-color: #FF4B4A;
  color: white;
}

.btn-danger-small{
  background-color: $btn-danger-color;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  border-radius: 7px;
  padding: 3px 8px 3px 8px;
}

.btn-danger-small.btn:hover, .btn-danger-small.btn:focus{
  border-color: #000000;
  background-color: #000000;
  color: #FF0000;
}

.bold-blue {
  color: #43AAC9;
  font-weight: 400;
}




