$input-border: #0F0F5B;
$btn-danger-color: #FF0000;
$btn-primary-color: #43AAC9;
$btn-primary-border: none;

.header{
  margin-top: 100px;
}

.subheader p{
  font-size: 18px;
  line-height: 24px;
  color: #383635;
}

.page-body {
  line-height: 25px;
}

.page-btn {
  margin-top: 25px;
}


#exercise-form {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.form-text-answer{
  border-color: $bg;
  font-size: 30px;
  font-weight: 400;
  border: none;
  margin-top: 18px;
}

 .session-label{
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  margin-top: 18px;
  color: #0F0F5B;
}

.btn-blue{
  // background-color: $btn-primary-color;
  color: #0F0F5B;
  font-family: 'Abril Fatface', cursive;
  font-size: 15px;
  font-weight: 400;
  border-color: #0F0F5B;
  border-style: solid;
  border-width: 2px;
  border-radius: 28px;
  padding: 6px 19px 6px 20px;
  letter-spacing: 3px;
  margin-top: 45px;
}

.btn-blue.btn:hover, .btn-blue.btn:focus{
  border-color: #0F0F6D;
  border-bottom-color: #0F0F76;
  background-color: #0F0F5B;
  color: white;
}

.btn-white{
  background-color: white;
  color: #7A7A7A;
  font-family: 'Raleway', sans-serif;
  font-style: 400;
  font-size: 10px;
  font-weight: 300;
  border-color: #8C8C8C;
  border-radius: 28px;
  padding: 6px 9px 6px 10px;
  letter-spacing: 1px;
}

.btn-white.btn:hover, .btn-primary.btn:focus{
  border-color: #696969;
  border-bottom-color: #F5F5F5;
  background-color: #696969;
  color: white;
}

.btn-danger{
  background-color: $btn-danger-color;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-style: 700;
  font-size: 15px;
  font-weight: 300;
  border-radius: 28px;
  padding: 6px 19px 6px 20px;
  letter-spacing: 2px;
}

.btn-danger.btn:hover, .btn-danger.btn:focus{
  border-color: #FF4B4A;
  border-bottom-color: #fa0008;
  background-color: #FF4B4A;
  color: white;
}

.btn-view-session{
  background-color: #337AB7;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-style: 700;
  font-size: 15px;
  font-weight: 300;
  border-radius: 28px;
  padding: 6px 19px 6px 20px;
  letter-spacing: 2px;
  padding-left: 29px;
  padding-right: 29px;
}

.btn-view-session.btn:hover, .btn-view-session.btn:focus{
  border-color: #3988CC;
  border-bottom-color: #3D92DB;
  background-color: #3988CC;
  color: white;
}

.btn-delete-session{
  background-color: #0F0F5B;
  color: white;
  font-weight: 300;
  width: 25px;
  height: 15px;
  border-radius: 15%;
}



.bold-blue {
  color: #43AAC9;
  font-weight: 400;
}

.pic-dashboard{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  max-width: 100%;
  max-height: 100%;
}

