$btn-bg: #FF0000;
$btn-color: white;
$btn-horizontal-padding: 10px;

.btn-signin {
  line-height: 35px;
  padding: 0 $btn-horizontal-padding;
  color: $btn-color;
  border-radius: 4px;
  margin-top: 0;
  font-weight: normal;
  letter-spacing: 2px;
  background-color: $btn-bg;
  border-top: $btn-top-border-width solid $btn-top-border-color;
  border-right: $btn-right-border-width solid $btn-right-border-color;
  border-left: $btn-left-border-width solid $btn-left-border-color;
  font-size: 18px;
  font-weight: 300;
  height: 34px;
}


.btn-signin.btn:hover, .btn-signin.btn:focus{
  border-color: #FF4B4A;
  border-bottom-color: #fa0008;
  background-color: #FF4B4A;
  color: white;
}

.signin-label{
  font-size: 17px;
  font-weight: 300;
}

.form-text-signin{
  border-color: $bg;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 12px;
}

.pic-align{
  padding-left: 115px;
}

.login-color a {
  color: white;
  text-align: right;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 1px 1px black;
  margin-top: 18px;
  letter-spacing: 2px;
  text-decoration: none;

}

.login-color a:hover, a:focus{
  color: #FF0000;
  }


.color-red{
  color: #FF0000;
}

.signin-form{
  margin-top: 430px;
}

#forgot-password{
  margin-top: 20px;
}

#forgot-password a{
  color: #FF0000;
  font-size: 10px;
  text-shadow: 1px 1px black;
  text-decoration: none;
}

#forgot-password a:hover, a:focus{
  color: #404040;
  text-decoration: none;
}


