$btn-bg: #0F0F5B;
$btn-color: white;
$btn-horizontal-padding: 10px;
$color: #0F0F5B;

// Classes
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-signup-team{
  line-height: 40px;
  padding: 0 $btn-horizontal-padding;
  color: $btn-color;
  border-radius: 4px;
  margin-top: $btn-margin-top;
  border-radius: 2px;
  font-weight: normal;
  background-color: $btn-bg;
  border-top: $btn-top-border-width solid $btn-top-border-color;
  border-right: $btn-right-border-width solid $btn-right-border-color;
  border-left: $btn-left-border-width solid $btn-left-border-color;
  font-size: 26px;
  font-weight: 300;
}

.header-signup-team{
  margin-bottom: 200px;
  color: $color;
}