#star-track-banner{
  background-image: image-url('jobs-blue.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  position: relative;
  display: table;
}

#star-track-banner h1{
  font-family: 'Oswald';
  color: red;
  font-size: 100px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 7px;
  padding-top: 60px;
  text-align: center;
}

#star-track-text{
  height: 1000px;
  position: relative;
  display: table;
  margin-top: 67px;
  padding-left: 50px;
}

#star-track-text h2 > a{
  font-family: 'Oswald';
  font-size: 36px;
}

#star-track-text h4 {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 33px;
  line-height: 45px;
}

#star-track-text h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: 300;
}

#star-track-text p{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 30px;
  padding-top: 20px;
  font-size: 20px;
}

#all-tracks-banner{
  background-image: image-url('inside-apple-blue.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  position: relative;
  display: table;
}

#all-tracks-banner h1{
  font-family: 'Oswald';
  color: red;
  font-size: 100px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 7px;
  padding-top: 60px;
  text-align: center;
}

#all-tracks-text h4 {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

#all-tracks-text h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

#all-tracks-text h3 a {
  text-decoration: none;
  color: #0F0F5B;
}

#all-tracks-text h3 a:hover {
  color: #FF0000;
}

#all-tracks-text h5{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#button-tracks-show ul {
  line-height: 65px;
}